@import url('https://fonts.googleapis.com/css2?family=Playwrite+NO:wght@100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #090f52;
    font-family: "Playwrite NO", cursive;
}

.image_1 {
    width: 400px;
    height: 400px;
    background-color: #1c2c4f;
    border-radius: 30px;
    position: absolute;
    top: 60px;
    left: 50px;
}

.image_2 {
    width: 400px;
    height: 400px;
    background-color: #1c2c4f;
    border-radius: 30px;
    position: absolute;
    bottom: 60px;
    right: 50px;
}

p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 515px;
    font-weight: 700;
    font-size: 18px;
    color: #cac9c9;
    line-height: 30px;
}

p span {
    font-weight: 900;
    color: #969696;
}

a {
    position: absolute;
    bottom: 60px;
    left: 50px;
    font-weight: 700;
    font-size: 20px;
    color: #6481be;
}

a:hover {
    text-decoration: underline;
    color: #7b90be;
}